{{#partial "content"}}
  <div class="left">
      <div class="big-title">
      <h1> Guía de recomendaciones </h1>
      <p> Bla bla bla bla bla </p>
      </div>
  </div>
  <div class="right">
    <img src="img/friends.png" alt="Person Image" class="" />
  </div>
{{/partial}}

{{>base.hbs}}