{{#partial "barra"}}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sectores"> Sectores </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="sectores"> Aceptar Miembros </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/hc"> Consumo HC </a>
        </li>
    </ul>
{{/partial}}

{{#partial "contenido"}}

        <h1> HOLA, ORGANIZACIONES </h1>


    <div class="col p-2">
        <div class="card shadow-sm p-2">
            <h3>Calculo Mensual</h3>>
            <p> {{ mensual }} </p>>
        </div>
        <div class="card shadow-sm p-2">
            <h3>Calculo Anual</h3>>
            <p> {{ anual }} </p>>
        </div>
    </div>

{{/partial}}


{{>layout.hbs}}