{{#partial "barra"}}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/sectores"> Sectores </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/aceptar-miembros"> Aceptar Miembros </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/hc"> Consumo HC </a>
        </li>
    </ul>
{{/partial}}

{{#partial "contenido"}}
    <center>
        <h1> HOLA, ORGANIZACIONES! </h1>
    </center>

    <div class="col p-2">
        <div class="card shadow-sm p-2">
            <div class="card-body">
                <h5 class="card-title">
                    <p>
                        <u> DATOS DE LA ORG: </u>
                    </p>
                </h5>
                <p class="card-text"> Nombre: {{ nombreOrg }} </p>
                <p class="card-text"> Razon Social: {{ razonSocial }} </p>
                <p class="card-text"> Tipo: {{ tipo }} </p>
                <p class="card-text"> Clasificacion: {{ clasificacion }} </p>

            </div>
        </div>
    </div>

{{/partial}}


{{>layout.hbs}}