{{#partial "content"}}
    <div class="left">
      <div class="big-title">
        <h1>Hola {{ nombre }}! 😎</h1>
      </div>

      <br/><br/>

      <div class="links">
        <ul>
          <li><a href="/guia" class="boton">Recomendaciones</a></li>
          <li><a href="/trayecto" class="boton">Trayectos</a></li>
          <li><a href="/vincularse" class="boton">Vincularse</a></li>
            <li><a  href="/hc-miembro" class="boton"> Calculadora HC </a> </li>
        </ul>
      </div>

    </div>

    <div class="right">
      <img src="img/register.svg" alt="Person Image" class="person" />
    </div>
{{/partial}}

{{>base.hbs}}