{{#partial "content"}}
    <div class="left">
        <div class="big-title">
            <h1>{{ nombreAgente }}</h1>
            <h2>{{ tipoSectorTerritorial }}:</h2>
            <h2>{{ nombreSectorTerritorial }}</h2> <!-- A implementar -->
        </div>

        <br/><br/>

        <div class="links">
            <ul>
                <!-- futuro -->
                <!--<li><a href="/sectores" class="boton">Cambiar Sector Territorial</a></li>-->
                <li><a href="/hc-agente" class="boton">HC</a></li>
            </ul>
        </div>

    </div>

    <div class="right">
        <img src="img/register.svg" alt="Person Image" class="person" />
    </div>
{{/partial}}

{{>base.hbs}}