<!-- Esto es de la base de Pokemon de ejemplo. -->

<html>
   <head>
      <!-- Importar archivos javascript -->
      <!-- Importar archivos css -->
      <!-- Escribir css -->
      <link rel="stylesheet" href="main.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
   </head>
   <!doctype html>
   <html lang="en">
      <head>
         <!-- Required meta tags -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- Bootstrap CSS -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
         <title>Impacto Ambiental</title>

      </head>

      <body>

          <div class="topnav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
                  <a class="navbar-brand" href="/home">ImpactoAmbiental</a>
                   {{#block "barra"}}
                     {{/block}}
                 </nav>
            </div>


        <div class="content">
            {{#block "contenido"}}
            {{/block}}
        </div>


         <footer class="footer">
             <p class="text-center">
               &copy; 2021 2diseños.com
             </p>
         </footer>
      </body>
   </html>

