{{#partial "content"}}
    <div class="left">
      <div class="big-title">
        <h1>¿Qué rompimo?</h1>
      </div>
      <p class="text">
        No se encontró la página que buscás. <br>
      </p>
      <br><br>
      <!-- redirect button -->
      <a href="/inicio" class="boton">Volver al inicio</a>
    </div>
    <div class="right">
      <img src="img/messirve.png" alt="404">
    </div>
{{/partial}}

{{>base.hbs}}