<html>
    <head>
        <title>Impacto Ambiental - Miembro</title>

        <!-- Font Awesome -->
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
        />

        <!-- Google Fonts -->
        <link
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet"
        />

        <!-- MDB -->
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
          rel="stylesheet"
        />

        <!-- MDB -->
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
        ></script>
    </head>
    <body>
        <div class="container my-5">
          <div class="card">
            <form action="/registrarOrg" method="POST">
              <!-- Card header -->
              <div class="card-header py-4 px-5 bg-light border-0">
                <h4 class="mb-0 fw-bold">Registrarse como miembro</h4>
              </div>

              <!-- Card body -->
              <div class="card-body px-5">
                <!-- Business address section -->
                <div class="row gx-xl-5">
                  <div class="col-md-4">
                    <h5>Datos de tu organizaci칩n</h5>
                    <p class="text-muted">
                        Vamos a necesitar algunos datos m치s para poder registrarte.
                    </p>
                  </div>

                  <div class="col-md-8">
                    <div class="mb-3">
                      <label for="exampleInput6" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="nombreInput" name="nombre" value="Matias"/>
                    </div>

                    <div class="mb-3">
                      <label for="exampleInput6" class="form-label">Raz칩n Social</label>
                      <input type="text" class="form-control" id="razonSInput" name="razonSocial" value="S.A."/>
                    </div>

                    <div class="mb-3">
                      <label for="exampleInput6" class="form-label">Ubicaci칩n</label>
                        <input type="text" class="form-control"id="ubInput" name="ubicacion" value="B.A."/>
                    </div>

                    <div class="col-md-6">
                        <label for="exampleInput8" class="form-label">Tipo de Organizacion</label>
                        <select
                                id="tipo"
                                name="tipo"
                                class="form-select mb-3"
                                aria-label="Default select example"
                                >
                          <option value="GUBERNAMENTAL"> Gubernamental </option>
                          <option value="ONG"> Ong </option>
                          <option value="EMPRESA"> Empresa </option>
                          <option value="INSTITUCION" selected> Institucion </option>
                        </select>
                      </div>

                      <div class="col-md-6">
                        <label for="exampleInput8" class="form-label">Clasificacion de la Organizacion</label>
                        <select
                                id="clasificacion"
                                name="clasificacion"
                                class="form-select mb-3"
                                aria-label="Default select example"
                                >
                              <option value="MINISTERIO"> Ministerio </option>
                              <option value="UNIVERSIDAD" selected> Universidad </option>
                              <option value="ESCUELA"> Escuela </option>
                              <option value="EMPRESA_SECTOR_PRIMARIO"> Empresa del sector primario </option>
                              <option value="EMPRESA_SECTOR_SECUNDARIO"> Empresa del sector secundario </option>
                        </select>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              <!-- Card footer -->
              <div class="card-footer text-end py-4 px-5 bg-light border-0">
                <button type="submit" class="btn btn-primary btn-rounded">
                  OK
                </button>
              </div>
            </form>
          </div>
        </div>
    </body>
</html>