{{#partial "content"}}
  <div class="left">
      <div class="big-title">
      <h1> Reportes </h1>
      </div>
          <div class="tab-pane container active" id="Usuarios">
              <h3>El HC Total es: {{total}}</h3>
              <h2 class="text-center text-primary display-3">Composici贸n HC Total de la Organizaci贸n</h2>
              <table class="table table-striped">
                  <thead id="header_tabla_Usuarios">
                  <th>consumo</th>
                  <th>porcentaje</th>
                  </thead>
                  <tbody id="body_tabla_Usuarios">
                  {{#each datos}}
                      <tr>
                          <td>{{nombre}}</td>
                          <td>{{porcentaje}}</td>
                      </tr>
                  {{/each}}
                  </tbody>
              </table>
          </div>
      <canvas id="myChart" style="width:100%;max-width:1000px"></canvas>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script>
    var xValues = [];
    var yValues = [];
    //var barColors = ["red", "green","blue","orange","brown"];
    {{#each valoresHistorial}}
        xValues.push("")
        yValues.push({{this}})
    {{/each}}
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: "blue",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Evoluci贸n de HC Total de la Organizaci贸n"
        }
      }
    });
  </script>
{{/partial}}

{{>base.hbs}}