{{#partial "content"}}
  <div class="left">
    {{#if sectores }}
      <div class="big-title">
        <h1>Sectores existentes</h1>
      </div>

      <div class="sectores">
        {{#each sectores }}

          <h2> {{ nombre }} </h2>

          {{#if nuevo}}
            <span style="color:green">Nuevo</span>
          {{/if}}

          <p> {{ descripcion }} </p>

        {{/each}}
      </div>
  {{else}}
      <div class="big-title">
        <h1>No hay sectores registrados</h1>
      </div>
  {{/if}}
  </div>

  <div class="right">
    <div class="big-title">
      <h1>Agregar un sector</h1>
    </div>
    <form action="/sectores" method="POST">
      <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Nombre" id="nombreInput" name="nombre" />
      </div>
      <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Descripcion (Opcional)" id="descInput" name="descripcion"/>
      </div>
      <button type="submit" class="btn">Agregar Sector</button>
    </form>
  </div>
{{/partial}}

{{>base.hbs}}