{{#partial "content"}}
<form action="/agregarTramo" method="POST">

  <select class="select-field" id="medio" name="medio" onchange="esconder()">
    <option value="pie" selected>Pie</option>
    <option value="bici">Bicicleta</option>
    <option value="servicioContratado">Servicio Contratado</option>
    <option value="vehiculoParticular">Vehiculo Particular</option>
    <option value="transportePublico">Transporte Público</option>
  </select>

  <div id="ubicacionInicio">
    <div class="big-title">
      <h2>Ubicación de Inicio</h2>
    </div>

      <div class="input-field">
          <i class="fa fa-shield"></i>
          <input type="text" placeholder="País de Inicio" id="paisId" name="paisInicio" value="ARGENTINA"/>
      </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Provincia de Inicio" id="provinciaId" name="provinciaInicio" value="BUENOS AIRES"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Municipio de Inicio"  id="municipioId" name="municipioInicio" value="AVELLANEDA"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Localidad de Inicio" id="localidadId" name="localidadInicio" value="AVELLANEDA"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Calle de Inicio" id="calle" name="calleInicio" value="Bonifacio"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="number" placeholder="Altura de Inicio" name="alturaInicio" value="1231"/>
    </div>
  </div>

  <div id="ubicacionFin">
    <div class="big-title">
      <h2>Ubicación de Fin</h2>
    </div>
    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="País fin" id="paisId" name="paisFin" value="ARGENTINA"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Provincia Fin" id="provinciaId" name="provinciaFin" value="BUENOS AIRES"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Municipio Fin"  id="municipioId" name="municipioFin" value="AVELLANEDA"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Localidad Fin" id="localidadId" name="localidadFin" value="AVELLANEDA"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="text" placeholder="Calle Fin" id="calle" name="calleFin" value="Bonifacio"/>
    </div>

    <div class="input-field">
      <i class="fa fa-shield"></i>
      <input type="number" placeholder="Altura Fin" name="alturaFin" value="1231"/>
    </div>
  </div>

  <div id="paradas" style="display:none;">
      <div class="big-title">
        <h4>Tipo de Transporte publico</h4>
      </div>
      <select class="select-field" id="tipoDeTransportePublico" name="tipoDeTransportePublico">
        <option value="COLECTIVO">Colectivo</option>
        <option value="TREN">Tren</option>
        <option value="SUBTE">Subte</option>
      </select>

      <div class="big-title">
        <h4>Parada Inicio</h4>
      </div>
      <select class="select-field" id="paradaInicio" name="paradaInicio">
        <option value="0">No</option>
        <option value="1">Si</option>
      </select>

      <div class="big-title">
        <h4>Parada Fin</h4>
      </div>
      <select class="select-field" id="paradaInicio" name="paradaInicio">
        <option value="0">No</option>
        <option value="1">Si</option>
      </select>
  </div>


  <div id="servicioContratado" style="display:none;">
      <div class="input-field">
        <i class="fa fa-shield"></i>
        <input type="text" placeholder="Tipo de Servicio" id="tipoDeServicio" name="tipoDeServicio"/>
      </div>

      <div class="input-field">
        <i class="fa fa-shield"></i>
        <input type="number" placeholder="Combustible Consumido Por KM" id="combustibleConsumidoPorKM" name="combustibleConsumidoPorKM"/>
      </div>
  </div>

  <div id="vehiculoParticular" style="display:none;">
      <div class="big-title">
        <h4>Tipo de Vehiculo</h4>
      </div>

      <select class="select-field" id="tipoDeVehiculo" name="tipoDeVehiculo">
        <option value="MOTO">Moto</option>
        <option value="AUTO">Auto</option>
        <option value="CAMIONETA">Camioneta</option>
      </select>

      <div class="big-title">
        <h4>Tipo de Combustible</h4>
      </div>
      <select class="select-field" id="tipoDeCombustible" name="tipoDeCombustible">
        <option value="GNC">GNC</option>
        <option value="NAFTA">Nafta</option>
        <option value="ELECTRICO">Electrico</option>
        <option value="GASOIL">Gasoil</option>
      </select>

      <div class="input-field">
        <i class="fa fa-shield"></i>
        <input type="number" placeholder="Combustible Consumido Por KM" id="combustibleConsumidoPorKM" name="combustibleConsumidoPorKM"/>
      </div>
  </div>

  <button name="tramo" type="submit" class="boton" value="fin">cargar Trayecto</button>
  <button name="tramo" type="submit" class="boton" value="tramo">Agregar Otro Tramo</button>

</form>

<script>
  function esconder() {
      switch (document.getElementById("medio").value) {
        case "bici":
          document.getElementById("ubicacionInicio").style.display = "block";
          document.getElementById("ubicacionFin").style.display = "block";
          document.getElementById("paradas").style.display = "none";
          document.getElementById("servicioContratado").style.display = "none";
          document.getElementById("vehiculoParticular").style.display = "none";
          break;
        case "pie":
          document.getElementById("ubicacionInicio").style.display = "block";
          document.getElementById("ubicacionFin").style.display = "block";
          document.getElementById("paradas").style.display = "none";
          document.getElementById("servicioContratado").style.display = "none";
          document.getElementById("vehiculoParticular").style.display = "none";
          break;
        case "servicioContratado":
          document.getElementById("ubicacionInicio").style.display = "block";
          document.getElementById("ubicacionFin").style.display = "block";
          document.getElementById("paradas").style.display = "none";
          document.getElementById("servicioContratado").style.display = "block";
          document.getElementById("vehiculoParticular").style.display = "none";
          break;
        case "vehiculoParticular":
          document.getElementById("ubicacionInicio").style.display = "block";
          document.getElementById("ubicacionFin").style.display = "block";
          document.getElementById("paradas").style.display = "none";
          document.getElementById("servicioContratado").style.display = "none";
          document.getElementById("vehiculoParticular").style.display = "block";
          break;
        case "transportePublico":
          document.getElementById("ubicacionInicio").style.display = "none";
          document.getElementById("ubicacionFin").style.display = "none";
          document.getElementById("paradas").style.display = "block";
          document.getElementById("servicioContratado").style.display = "none";
          document.getElementById("vehiculoParticular").style.display = "none";
          break;
      }
  }
</script>
{{/partial}}
{{>base.hbs}}