{{#partial "barra"}}
   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/inicio"> Log Out </a>
       </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/guia">Guia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/trayectos">Mis Trayectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/vincularse">Vincularse a Org</a>
      </li>
       <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="/hc-miembro"> Calculadora HC </a>
       </li>
   </ul>
{{/partial}}

{{#partial "contenido"}}
    <div class="mb-3">
        <center>
            {{#if error}}
                <p class="red"> Error: {{descripcion}} </p>
            {{/if}}
        </center>
    </div>
    <div class = "container">
        <form action="/agregarTramo" method="POST">
            <div class = "container">
                <h2> Ubicacion Inicio </h2>

                <div class="mb-3">
                    <label for="paisId" class="form-label">Pais</label>
                    <input type="text" class="form-control" id="paisId" name="paisInicio" value="ARGENTINA">
                </div>

                <div class="mb-3">
                    <label for="provinciaId" class="form-label">Provincia</label>
                    <input type="text" class="form-control" id="provinciaId" name="provinciaInicio" value="BUENOS AIRES">
                </div>

                <div class="mb-3">
                    <label for="municipioId" class="form-label">Municipio</label>
                    <input type="text" class="form-control" id="municipioId" name="municipioInicio" value="AVELLANEDA">
                </div>

                <div class="mb-3">
                    <label for="localidadId" class="form-label">Localidad</label>
                    <input type="text" class="form-control" id="localidadId" name="localidadInicio" value="AVELLANEDA">
                </div>

                <div class="mb-3">
                    <label for="calle" class="form-label">Calle</label>
                    <input type="text" class="form-control" id="calle" name="calleInicio" value="Bonifacio">
                </div>

                <div class="mb-3">
                    <label for="altura" class="form-label">Altura</label>
                    <input type="text" class="form-control" id="altura" name="alturaInicio" value="1231">
                </div>


            </div>

            <div class = "container">
                <br>
                <h2> Ubicacion Fin </h2>

                <div class="mb-3">
                    <label for="pais2Id" class="form-label">Pais</label>
                    <input type="text" class="form-control" id="pais2Id" name="paisFin" value="ARGENTINA">
                </div>

                <div class="mb-3">
                    <label for="provincia2Id" class="form-label">Provincia</label>
                    <input type="text" class="form-control" id="provincia2Id" name="provinciaFin" value="BUENOS AIRES">
                </div>

                <div class="mb-3">
                    <label for="municipio2Id" class="form-label">Municipio</label>
                    <input type="text" class="form-control" id="municipio2Id" name="municipioFin" value="AVELLANEDA">
                </div>

                <div class="mb-3">
                    <label for="localidad2Id" class="form-label">Localidad</label>
                    <input type="text" class="form-control" id="localidad2Id" name="localidadFin" value="AVELLANEDA">
                </div>

                <div class="mb-3">
                    <label for="calle2" class="form-label">Calle</label>
                    <input type="text" class="form-control" id="calle2" name="calleFin" value="Bonifacio">
                </div>

                <div class="mb-3">
                    <label for="altura2" class="form-label">Altura</label>
                    <input type="text" class="form-control" id="altura2" name="alturaFin" value="1490">
                </div>

            </div>

            <div class = "container">
                <h1> Medio </h1>
                <select id="medio" name="medio">
                    <option value="1">pie</option>
                    <option value="2">bicicleta</option>
                </select>
            </div>

            <button name="tramo" type="submit" class="btn btn-primary" value="fin">cargar Trayecto</button>
            <button name="tramo" type="submit" class="btn btn-primary" value="tramo">Agregar Otro Tramo</button>
        </form>
    </div>
{{/partial}}


{{>layout.hbs}}