{{#partial "content"}}
    <div class="left">
      <div class="big-title">
        <h1>Crear un trayecto</h1>
      </div>
      <p class="text">
        ¿Qué tipo de trayecto querés crear? 😐
      </p>

    <form action="/trayecto" method="POST">
      <button name="trayecto" value="trayecto" type="submit" class="boton" style="border: none;cursor:pointer;">Crear trayecto común</button>
      <button name="trayecto" value="trayecto-comp" type="submit" class="boton" style="border: none;cursor:pointer;">Crear trayecto compartido</button>
    </form>

    </div>

    <div class="right">
      <img src="img/car.svg" alt="" class=""/>
    </div>


    <div class="tab-pane container active" id="recorrido">
        <h2 class="text-center text-primary display-3">Mis Trayectos</h2>

        <table class="table table-striped">
            <thead id="header_tabla_recorrido">
            <th>inicio</th>
            <th>destino</th>
            </thead>
            <tbody id="body_tabla_recorrido">
            {{#each trayectos}}
                <tr>
                    <td>{{ubicacionInicio.calle}} {{ubicacionInicio.altura}}</td>
                    <td>{{ubicacionFin.calle}} {{ubicacionFin.altura}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
{{/partial}}

{{>base.hbs}}