{{#partial "content"}}
<div class="big-title">
  <h1>Vincularse a una organizacion 🌐</h1>
  <h4> Seleccione la organización a la que desea vincularse </h4>
</div>

<div>
  {{#each organizaciones }}
  <div class="card">
    <img src="https://static.vecteezy.com/system/resources/previews/005/266/960/non_2x/organizational-chart-line-icon-outline-hierarchy-logo-linear-pictogram-isolated-on-white-pixel-perfect-illustration-vector.jpg"
         alt="nombre" style="height:8rem;object-fit: contain;">

    <strong> {{ nombreOrg }} - {{ razonSocial }}</strong>

    <form action="/vincularse" method="POST">
        <button name="id" value={{id}} type="submit" class="boton"> Elegir </button>
    </form>

  </div>

  <br/><br/>
  {{/each}}
</div>

{{/partial}}
{{>base.hbs}}

<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #64bcf4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }
</style>